
body{
    background-color:black;
    overflow-y: hidden;
    color: white;
    height:100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

#main{
    height:400px;
    width: 300px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 3px;
    background: rgb(238,174,202);
background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgb(167, 194, 244) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    /* justify-content: center; */
}
.to{
    color:red;
}
.con{
    height: 50px;
    
}
.tsk_con{
    position: relative;
}
.tsk{
    background-color: rgb(58, 8, 2);
    padding: 4px 14px;
    /* color: red; */
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 0.1s;
    position: relative;
  
}
.tsk:hover{
    /* opacity: 0.9; */
    background-color: rgb(62, 31, 27);
    box-shadow: 0px 0px 5px black;

    cursor: pointer;
}
.tp{
    
    position: absolute;
    top: -20%;
    color: red;
    background-color: rgb(41, 41, 6);
    right: 0%;
    height: 2.5px;
    border-radius: 3px;
    width: 0%;
}

.bt{
    
    position: absolute;
    bottom: -20%;
    color: red;
    background-color: rgb(41, 41, 6);
    border-radius: 3px;
    left: 0%;
    height: 2.5px;
    width: 0%;
}
.tsk_con:hover .tp{
    animation: lt 0.5s ease-in-out forwards;
}
@keyframes lt {
    100%{
        /* background-color: red; */
        width: 100%;
    }
}
.tsk_con:hover .bt{
    animation: rt 0.5s ease-in-out forwards;
}
@keyframes rt {
    100%{
        /* background-color: red; */
        width: 100%;
    }
}
.tsk:active{
    transform: scale(0.98);
   
}
.pro,.pro2{
    position: absolute;
    top: 0px;
    left: 0px;
background-color: #D9AFD9;
background-image: linear-gradient(10deg, #D9AFD9 0%, #97D9E1 100%);

    right: 0%;
    bottom: 0%;
    color: red;
    font-weight: 100;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    z-index: -10;
    opacity: 0;
    margin-left:90%;
    height: 400px;
    /* width: 200px; */
    
}

.c,.c_s{
    width: 90%;
}
.c_s{
    margin-top: 20px;
}
h3{
    margin-bottom: 5px;
}
#task,#dt{
    outline: none;
    width: 90%;
    height: 20px;
    font-family: monospace;
    
}
.task_main{
    /* background-color: red; */
    cursor: pointer;
   
}
.task_main:hover{
    /* text-decoration: underline; */
    text-decoration: rgb(0, 9, 142) underline 2px;
}
.cvr{
    height: 30px;
    width: 0%;
    background-color:blue;
    opacity: 0.2;
    left: 0px;
    position: absolute;
    cursor: pointer;
    z-index: 0;
}
.none{
    display: none;
}
.cvv{
    width: 91%;
}
.quote{
    color: rgb(36, 0, 0);
    text-align: center;
    width: 98%;
    height: max-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 35%;
    display: none;
    
}
.aut{
    margin-left: 150px;
    margin-top: 15px;
    color: rgb(55, 1, 1);
    font-style: italic;
    font-weight: 900;
}
#task::placeholder,#dt::placeholder{
    font-family:monospace;
}
#des,#des_s{
    resize: none;
    padding-top: 5px;
    padding-left: 5px;
    height:90px;
    outline: none;
    width: 90%;
}
#task_s{
    color:rgb(69, 63, 63);
    font-family:monospace;
    width:90%;
    height: 20px;
}
#dt_s,#task_s{
    height: 20px;
    background-color: white;
    color:rgb(69, 63, 63);
    width:85%;
    font-size: 13px;
    font-family: monospace;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#task_s{
    padding-left:0px ;
}
#des_s{
    background-color: white;
    color:rgb(69, 63, 63);
    font-family:monospace;
    border-radius: 3px;
}
.cal{
    color: black;
    margin-left: 100px;
}
.re{
    font-size: 18px;
}
#sub{
    margin-top: 20px;
    background-color: red;
    border: none;
    padding: 4px 10px;
    color:  white;
    font-weight: bold;
    border-radius: 6px;
}

#sub:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 6px black;
    cursor: pointer;
}
#sub:active{
transform: scale(0.96);
}

.come{
    animation: cm 0.3s ease-in-out forwards;
    z-index: 10;
    height: 400px;
    overflow: hidden;

}

@keyframes cm {
    100%{
        margin-left:0px;
        left: 0px;
     
        opacity: 1;
        z-index: 10;
    }
    
}

.go{
    animation:go 0.3s ease-in-out forwards;
    margin-left: 0px;
    opacity: 1;
    z-index: 11;
    overflow: hidden;
}

@keyframes go {
    
    90%{
        margin-left:170px;
        
    }
    100%{
        margin-left:170px;
        overflow: hidden;
        z-index:-11;
        visibility: hidden;
    }
    
}

.de{
    color:black;
    font-weight: bold;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    display: none;
}
.tab{
    width: 98%;
    height: 190px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    margin-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.tr{
    /* background-color: white; */
    border: 2px solid white;
    margin-bottom: 5px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bx_div{
    border-right:2px solid white ;
    width: 25px;
   height: 30px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.del_div{
    border-left:2px solid white ;
    width: 25px;
    height: 30px;
    /* background-color: aqua; */
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
}

.sq,.chk{
    color:rgb(68, 3, 3);
    /* left: 1.4px; */
    position: absolute;
}
.fa-trash{
    color:rgb(68, 3, 3);
    zoom:0.8;
}
.hide{
    display: none;
    align-self: center;
    visibility: hidden;
}

.task_main{
    color: black;
    
    font-weight: 500 ;
    display: flex;
    flex:1;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.finish_line{
    background-color: red;
    width: 0px;
    height: 3px;
    top: 27px;
    left: 20px;
    right: 30px;
    opacity: 0.8;
    position: absolute;
}
.fin{
    animation: fin 0.5s ease-in-out forwards;
}
i:hover{
    cursor: pointer;   
}
@keyframes fin {
    100%{
     
        width: 76%;
        top: 27px;
         left: 20px;
    
    }
}
.del_sym{
    color: rgb(70, 3, 3);
}

.del_task{
    animation: del 0.5s ease-in-out forwards;
    width: 300px;
}
@keyframes del{
  
    
    100%{
       margin-left: -1000px;
       display: none;
       z-index: -11;
        width: 0px;
    }
}

.rem{
    display: flex;
    width: 100%;
    align-items: center;
    border-right: 2px solid white;
    height: 100%;
}

/* to alter the scroll barrr */
 /* width */
 ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }
.score{
    color: red;
}
.tsk_scr{
    font-size: 25px;
}
.xmk{
    position: absolute;
    color:rgb(29, 27, 27);
    left: 5px;
    zoom: 1.1;
    top: 5px;
}
.xmk:hover{
    color: red;
}
.xmk:active{
    transform: scale(0.98);
}
@media screen and (max-width: 600px){
    body{
        /* background-color: white; */
        width: 100vw;
        height: 100vh;
        overflow: hidden;  
        /* display: grid;
        place-items: center; */
    }
}